# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
venv/
.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OBS
*.bak

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project
data/
!data/.gitkeep
logs/
screenshots/
*.log
templates/*.png
!templates/.gitkeep
nodecg/
